html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Merriweather";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.banner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 4rem;
}

.banner-img {
  align-self: start;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.banner-text {
  color: #fff;
  grid-column: 1;
  grid-row: 2;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) 3rem;
  margin: 0;
  font-size: 1.5rem;
  grid-gap: .75rem;
  grid-template-areas:
  "head head head"
  "main main main";
}

h1 h2 {
  font-size: 1.8rem;
  font-style: italic;
}

dl {
  font-size: 1.5rem;
  font-style: normal;
}

div .temple {
  grid-area: main;
  grid-column: 1;
  grid-row: 2;
}

div .colossus {
  grid-area: main;
  grid-column: 2;
  grid-row: 2;
}

div .garden {
  grid-area: main;
  grid-column: 3;
  grid-row: 2;
}
